<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<div id="exhibition"></div>

<script><%- partial('state') %></script>

<section><%- reactHtml %></section>
<div class="test"></div>

<script src="/main.js"></script>
</body>
</html>